<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITaqehService" />
              <binding name="WsHttpBinding_LargeAmount" maxBufferPoolSize="13097152" maxReceivedMessageSize="23097152" />
            </wsHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://localhost:8733/SahraShoesService/TaqehService/TaqehService" binding="wsHttpBinding" 
                    bindingConfiguration="WsHttpBinding_LargeAmount" contract="TaqehService.ITaqehService" name="WSHttpBinding_ITaqehService">
            <identity>
              <userPrincipalName value="DESKTOP-C399UHT\Paytakht" />
            </identity>
          </endpoint>
        </client>
    </system.serviceModel>
</configuration>